@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-color-light: #A6705D;
    --text-color-light: #030B0D;
    --background-color-dark: #030B0D;
    --text-color-dark: #E8EBF4;
    --accent-color: #FFF8EA;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    font-family: "Wittgenstein", serif;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* Layout */
header, main, footer {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 0;
    align-items: center;
}

footer {
    padding: 20px 0;
    text-align: center;
}

/* Typography */
h1, h2, h3 {
    font-family: "Wittgenstein", serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
}

/* Buttons */
.button1 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 12px;
    text-align: center;
    vertical-align: baseline;
}

.button1:hover {
    background-color: rgba(51, 51, 51, 0.1);
    border: 1px solid rgba(51, 51, 51, 0.6);
}

/* Inputs */
input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Wittgenstein", serif;
    width: 100%;
}

input {
    max-width: 200px;
}

textarea {
    max-width: 100%;
}

.dark-mode input, .dark-mode textarea {
    background: var(--accent-color);
    color: var(--text-color-dark);
}

/* Navigation */
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.nav div:nth-child(1), .nav div:nth-child(3) {
    display: flex;
    align-items: center;
}

.nav div:nth-child(3) {
    justify-content: flex-end;
}

/* Hero */
.hero {
    max-height: 800px;
    object-fit: contain;
    object-position: center;
    border-radius: 8px;
}

.hero-container {
    position: sticky;
    align-items